<strong>Olá, {{ deliveryman_name }}</strong>
<p>Você possui um novo pacote para entrega</p>

<div>
  <p><strong>Informações de entrega:</strong></p>
  <table>
    <tr>
      <td>Cliente</td>
      <td>{{ recipient_name }}</td>
    </tr>
    <tr>
      <td>Rua</td>
      <td>{{ recipient_street }}</td>
    </tr>
    <tr>
      <td>Número</td>
      <td>{{ recipient_number }}</td>
    </tr>
    <tr>
      <td>Complemento</td>
      <td>{{ recipient_complement }}</td>
    </tr>
    <tr>
      <td>Cidade</td>
      <td>{{ recipient_city }} - {{ recipient_state }}</td>
    </tr>
    <tr>
      <td>CEP</td>
      <td>{{ recipient_cep }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
  <p>
    <small>
      Criado em: {{ created }}
    </small>
  </p>
</div>
